Source: csv2sc
Maintainer: nfdisco <nr9@posteo.de>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10), guile-2.0-dev

Package: csv2sc
Architecture: all
Depends: guile-2.0
Suggests: sc
Description: CSV to Spreadsheet Calculator format converter
 This program reads CSV data from the standard input and writes it in
 SC ("spreadsheet calculator") format to the standard output.

